body {
    background-color: white;
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    height: auto;
    margin-left: 8%;
    margin-right: 10%;
    margin-top: 20px;
}

.space-content {
    min-height: 600px;
}

